<!-- DAY EDITOR -->
<div class="dayEditor whtBkg">

    <!-- background grid -->
    <div class="grid " >
        <div class="counter" ng-repeat="times in timeArray">
            <h3 class="counterText">{{times}}</h3>
        </div>
        <div class="spacer"></div>
    </div>
    <!-- end of grid -->
    <!-- ===================start of time display================== -->
    <!-- BAR 1 -->
    <div id="column1"class="column" >
      <div id="unavBar1a" class="unavailable darkBlueBkg notAvailable topUnav" ng-style="{height: getShadowHeight()}" ng-show="shadowShow.c1"></div>
      <div id="bar1" class="bar greenBkg" ng-style="{height:getBarHeight(), top:getBarStart()}"  ng-show="barShow.b1">
        <h3 class="verticaltext wht">{{barEmployee.b1firstName}} {{barEmployee.b1lastName}} 
          <br> <span class="darkBlue">from {{barParams.bSt1}} to {{barParams.bSp1}}</span></h3>
      </div>
      <div id="unavBar1b" class="unavailable darkBlueBkg notAvailable" ng-style="{height: getShadowBsheight(),top: getShadowBstart()}" ng-show="shadowShow.c1"></div>
    </div>
    <!-- BAR 2 -->
    <div id="column2"class="column" >
      <div id="unavBar2a" class="unavailable darkBlueBkg notAvailable topUnav" ng-style="{height: getShadowHeight()}" ng-show="shadowShow.c2"></div>
      <div id="bar2" class="bar cyanBkg" ng-style="{height:getBarHeight(), top:getBarStart()}"  ng-show="barShow.b2">
        <h3 class="verticaltext wht">{{barEmployee.b2firstName}} {{barEmployee.b2lastName}} 
          <br> <span class="darkBlue">from {{barParams.bSt2}} to {{barParams.bSp2}}</span></h3>
      </div>
      <div id="unavBar2b" class="unavailable darkBlueBkg notAvailable" ng-style="{height: getShadowBsheight(),top: getShadowBstart()}" ng-show="shadowShow.c2"></div>
    </div>
    <!-- BAR 3 -->
    <div id="column3"class="column" >
      <div id="unavBar3a" class="unavailable darkBlueBkg notAvailable topUnav" ng-style="{height: getShadowHeight()}" ng-show="shadowShow.c3"></div>
      <div id="bar3" class="bar blueBkg" ng-style="{height:getBarHeight(barEmployee), top:getBarStart()}"  ng-show="barShow.b3">
        <h3 class="verticaltext wht">{{barEmployee.b3firstName}} {{barEmployee.b3lastName}} 
          <br> <span class="darkBlue">from {{barParams.bSt3}} to {{barParams.bSp3}}</span></h3>
      </div>
      <div id="unavBar3b" class="unavailable darkBlueBkg notAvailable" ng-style="{height: getShadowBsheight(),top: getShadowBstart()}" ng-show="shadowShow.c3"></div>
    </div>
    <!-- BAR 4 -->
    <div id="column4"class="column" >
      <div id="unavBar4a" class="unavailable darkBlueBkg notAvailable topUnav" ng-style="{height: getShadowHeight()}" ng-show="shadowShow.c4"></div>
      <div id="bar4" class="bar yellowBkg" ng-style="{height:getBarHeight(), top:getBarStart()}"  ng-show="barShow.b4">
        <h3 class="verticaltext wht">{{barEmployee.b4firstName}} {{barEmployee.b4lastName}} 
          <br> <span class="darkBlue">from {{barParams.bSt4}} to {{barParams.bSp4}}</span></h3>
      </div>
      <div id="unavBar4b" class="unavailable darkBlueBkg notAvailable" ng-style="{height: getShadowBsheight(),top: getShadowBstart()}" ng-show="shadowShow.c4"></div>
    </div>
    <!-- BAR 5 -->
    <div id="column5"class="column" >
      <div id="unavBar5a" class="unavailable darkBlueBkg notAvailable topUnav" ng-style="{height: getShadowHeight()}" ng-show="shadowShow.c5"></div>
      <div id="{{barEmployee.b}}" class="bar orangeBkg"  ng-show="barShow.b5">
        <h3 class="verticaltext wht">{{barEmployee.b5firstName}} {{barEmployee.b5lastName}} 
          <br> <span class="darkBlue">from {{barParams.bSt5}} to {{barParams.bSp5}}</span></h3>
      </div>
      <div id="unavBar5b" class="unavailable darkBlueBkg notAvailable" ng-style="{height: getShadowBsheight(),top: getShadowBstart()}" ng-show="shadowShow.c5"></div>
    </div>
    <!-- BAR 6 -->
    <div id="column6"class="column" >
      <div id="unavBar6a" class="unavailable darkBlueBkg notAvailable topUnav" ng-style="{height: getShadowHeight()}" ng-show="shadowShow.c6"></div>
      <div id="bar6" class="bar redBkg" ng-style="{height:getBarHeight(), top:getBarStart()}"  ng-show="barShow.b6">
        <h3 class="verticaltext wht">{{barEmployee.b6firstName}} {{barEmployee.b6lastName}} 
          <br> <span class="darkBlue">from {{barParams.bSt6}} to {{barParams.bSp6}}</span></h3>
      </div>
      <div id="unavBar6b" class="unavailable darkBlueBkg notAvailable" ng-style="{height: getShadowBsheight(),top: getShadowBstart()}" ng-show="shadowShow.c6"></div>
    </div>
    <!-- BAR 7 -->
    <div id="column7"class="column" >
      <div id="unavBar7a" class="unavailable darkBlueBkg notAvailable topUnav" ng-style="{height: getShadowHeight()}" ng-show="shadowShow.c7"></div>
      <div id="bar7" class="bar purpleBkg" ng-style="{height:getBarHeight(), top:getBarStart()}"  ng-show="barShow.b7">
        <h3 class="verticaltext wht">{{barEmployee.b7firstName}} {{barEmployee.b7lastName}} 
          <br> <span class="darkBlue">from {{barParams.bSt7}} to {{barParams.bSp7}}</span></h3>
      </div>
      <div id="unavBar7b" class="unavailable darkBlueBkg notAvailable" ng-style="{height: getShadowBsheight(),top: getShadowBstart()}" ng-show="shadowShow.c7"></div>
    </div>
</div>

<!-- bottom tab -->
<div class="bottomTab whtBkg" >

    <div class="currentEmployee">
      <div class="employeeHolder" ng-show="barShow.b1">
        
        <div class="employeeButton redBkg" ng-click="timeEditor()" >
        </div>
        <div class="employeeInfo">
            <h3 class = "darkBlue">{{currentEmployee.firstName}} {{currentEmployee.lastName}}</h3>
            <h5 class="subDetail darkBlue">Max  {{currentEmployee.weeklyMax}} - Min  {{currentEmployee.weeklyMin}}</h5>
          
        </div>
        </div>
        <div class="employeeHolder textRight" ng-click="activeEeditor()">
            <h4 class="blue">Schedule <br> Employee</h4>
            <img class="addButton2" src="./images/add.svg" alt="add Employee" />
        </div>
    </div>
    
<!-- toolbar -->
    <div class="bottomBar whtBkg" >
  
      <div class="tool" ng-click="saveDay()">
        <img class="toolIcon" src="./images/save.svg" alt="save" />
        <h3 class = "yellow">save</h3>
      </div>
      <div class="tool" ng-click="publishDay()">
        <img class="toolIcon" src="./images/publish.svg" alt="save" />
        <h3 class = "green">publish</h3>
      </div>
      <div class="tool" ui-sref="setSchedule">
        <img class="toolIcon" src="./images/cancel.svg" alt="save" />
        <h3 class="red" >cancel</h3>
      </div>
    </div>
    <!-- dayEditor -->
      <div class="stSpEditor whtBkg" ng-show="editToggler">
        
        <div class="stContainer">
          <h3 class="inputDescription darkBlue">Start</h3>
          <input class="basicInput bigInput darkBlueBkg wht" type="time" 
          name="mSto" ng-model="timeHolder.start">
        </div>
        
        <div class="stContainer">
          <h3 class="inputDescription darkBlue">Stop</h3>
          <input class="basicInput bigInput darkBlueBkg wht" type="time" 
          name="mSto" ng-model="timeHolder.stop">
        </div>
        
        <div class="submitContainer" >
          <div class="buffer" ng-click="cancelStSp()">
            <img class="toolIcon" src="./images/cancel.svg" alt="cancel" />
            <h3 class="red" >cancel</h3>
          </div>
          <div class="buffer" ng-click="submitTime()">
            <img class="toolIcon" src="./images/add.svg" alt="submit" />
            <h3 class="blue" >submit</h3>
          </div>
        </div>

      </div>

</div>


<!-- employeePicker -->
<div class="employeePicker whtBkg" ng-show="employeeEditorToggler">
<!-- STYLES SHARED FROM EMPLOYEE.CSS -->

<div class="employeeBox" ng-repeat="x in employeeLister() track by $index">
  <div class="selectorBox greenBkg" ng-click="employeePick($index)"></div>
  <div class="textHolder">
      <h2 class="empName darkBlue">{{x.firstName}} {{x.lastName}}</h2>
      <div class="subtextHolder">
          <h4 class="hours darkGray">Min. Hrs. : {{x.weeklyMin}}</h4>
          <h4 class="hours darkGray">Max. Hrs. : {{x.weeklyMax}}</h4>
      </div>
  </div>
</div>


</div>

