.absolute{
  position: absolute;
}

.dayEditor{
  height: 100vh;
  width: 100vw;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.grid{
  height: 432px;
  min-width: 100vw;
  position: relative;
  top:55px;
  
}

.counter{
  height: 36px;
  width: 100vw;
  border: 1px solid lightgrey;
  color: lightgrey;
  display: flex;
  justify-content: flex-end;
  padding-top: 8px;
  padding-right: 10px;
}

.bottomTab{
  height: 81px;
  width: 100vw;
  padding: 10px 0 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position:fixed;
  bottom: 0;
  z-index: 4;
}

.employeeButton{
  height:30px;
  width: 30px;
  margin-right: 15px;
}

.currentEmployee{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  height: 40px;
  margin-bottom: 10px;
}

.employeeHolder{
  display: flex;
  flex-flow: row;
  
}

.subHolder{
  display: flex;
  flex-flow: row;
}
.subDetail{
  margin-top: 4px;
}

.addButton1{
  height: 30px;
}

.addButton2{
  height: 30px;
  margin-left: 15px;
}

.textRight{
  text-align: right;
}
.bottomBar{
width: 320;
height: 35px;
display: flex;
flex-flow: row;
justify-content: space-around;
}

.tool{
  display: flex;
  flex-flow: row;
}

.toolIcon{
  height: 20px;
  margin: 0 10px 0 0px;
}

.spacer{
  height:81px;
}

/*============  EMPLOYEE PICKER  =================*/
.unavailableEmployee{
  opacity: .5;
}
.employeePicker{
  width: 100vw;
  min-height: 200vh;
  z-index: 2;
  position: absolute;
  top: 0;
  padding-bottom: 100px;
  padding-top: 60px;
}
/*============  Day Picker =================*/
.stSpEditor{
  padding: 20px 20px 20px 20px;
  box-shadow: 5px 5px 5px lightgrey;
  position:absolute;
  bottom: 88px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.stContainer{
  display: flex;
  flex-direction: row;
  margin: 10px 0 10px 0;
}

.submitContainer{
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.buffer{
  display: flex;
  flex-direction: row;
  margin: 0 20px 0 20px;
}

/*============  TIME BARS  =================*/
.notAvailable{
    opacity: .2;
    width:40px;
    position: absolute;
}

.column{
    width: 40px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom:0px;
}

.bar{
  width: 40px;
  position: absolute;
}

.verticaltext {
  writing-mode: vertical-rl;
  margin: 10px 0 0 4px;
}

.topUnav{
  top:55px;
}

/*COLUMN 1*/
#column1{
    left:0;
}
#bar1{
}
#shadowA1{
}
#shadowB1{
}

/*COLUMN 2*/
#column2{
    left:40px;
}
#bar2{
}
#unavBar2a{
}
#unavBar2b{
}

/*COLUMN 3*/
#column3{
    left:80px;
}
#bar3{
}
#unavBar3a{
}
#unavBar3b{
}

/*COLUMN 4*/
#column4{
    left:120px;
}
#bar4{
}
#unavBar4a{
}
#unavBar4b{
}

/*COLUMN 5*/
#column5{
    left:160px;
}
#bar5{
}
#unavBar5a{
}
#unavBar5b{
}
/*COLUMN 6*/
#column6{
    left:200px;
}
#bar6{
}
#unavBar6a{
}
#unavBar6b{
}

/*COLUMN 7*/
#column7{
    left:240px;
}
#bar7{
}
#unavBar7a{
}
#unavBar7b{
}

