<div class="bkgrd topPadding">
    <div class="paddingDiv"></div>
    <a class="pgTop"></a>
    
    <div class="employeeBox" ng-repeat="x in employeeLister() track by $index">
        <div class="selectorBox greenBkg" ui-sref="admin({id:x.id})"></div>
        <div class="textHolder">
            <h2 class="empName darkBlue">{{x.firstName}} {{x.lastName}}</h2>
            <div class="subtextHolder">
                <h5 class="editTag green" ng-click="employeeEditor($index)">Edit</h5>
                <h4 class="hours darkGray">Min. Hrs. : {{x.weeklyMin}}</h4>
                <h4 class="hours darkGray">Max. Hrs. : {{x.weeklyMax}}</h4>
            </div>
        </div>
    </div>
    
    <div class="adderBox" ui-sref="new">
        <img class="addNew" src="./images/add.svg" alt="Add New Employee" />
        <div class="textHolder">
            <h3 class="addTxt blue">Add New Employee</h3>
        </div>
    </div>

</div>


  <!-- ===============   new employee modal ================ -->
  
  
  

      
      
      
      
      
      
      
      
      
      
    
  </div>




</div>