<div class="landingBox greenBkg">

<div ng-controller="landing" class="inputHolder">
  <div class="logoHolder">

  </div>
  <img id="logo" src="images/roosterRosterLogo.svg" alt="Roster Rooster Logo" />

  <input  class="login" type="text" name="user name" placeholder="Username">
  <br>
  <input  class="login" type="text" name="password" placeholder="Password">

    <form id="return" name="return login">
      <div class="bttnholders">
        <img  class="bttn" src="images/rrEgg.svg" alt="Login" />
        <h5 class="bttnTxt darkBlue">Login</h5>
      </div>

      <div class="bttnholders">
        <img class="bttn" src="images/add2.svg" alt="Login" />
        <h5 class="bttnTxt darkBlue">New Account</h5>
      </div>

    </form>
</div>

        <!-- fake Modal for login -->
<!-- background of modal -->
<div class="psudoModalBackground" ng-show="called"></div>
<!-- foreground -->
<div class="psudoModalContainer" ng-show="called">
  <div class="psudoModal" ng-show="called" >


</div>


</div>
