/*modal*/

.psudoModalBackground{
  height:100vh;
  width: 100vw;
  z-index: 1;
  position:fixed;
  top: 0;
  opacity: 0.5;
}

.psudoModalContainer{
  display: flex;
  justify-content: center;
  position:fixed;
  top: 0;
  z-index: 2;
}

.psudoModal{
  width: 200px;
  height: 300px;
  z-index: 20;
  margin: auto;
  display: flex;
  justify-content: center;
}

.landingBox{
  height:100vh;
  width: 100vw;
}

@media (max-width: 320px) {

.inputHolder{
  padding-top: 75px;
  text-align: center;
}

.login{
  height:20px;
  width: 190px;
  margin: 10px auto 10px;
}

#logo{
  margin:50px auto 30px;
  height: 250px;
  display: block;
  margin: auto;
}

#return{
  height 20px;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 20px auto;
}

.bttnholders{
  display: flex;
  flex-flow: row;

}

.buttons{
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin: 30px;
}
