<div class="landingBox greenBkg">

<div ng-controller="landing" class="inputHolder">
  <div class="logoHolder">

  </div>
  <img id="logo" src="images/roosterRosterLogo.svg" alt="Roster Rooster Logo" />



    <form ng-submit="login()" id="return" name="return login">
      
      <div class="loginHolder">
      <input  class="login" type="text" name="user name" placeholder="username">
      <br>
      <input  class="login" type="text" name="password" placeholder="Password">
      </div>
      
      <div class="buttons">
        
    
      <div class="bttnholders" ng-click="login()" >
        <img  class="bttn" src="images/rrEgg.svg" alt="Login" />
        <h5 class="bttnTxt darkBlue">Login</h5>
      </div>
      <div class="bttnholders" ng-click="newAcct()">
        <img  class="bttn" src="images/add2.svg" alt="Login" />
        <h5 class="bttnTxt darkBlue">New Account</h5>
      </div>
      </div>
  
    </form>
</div>

        <!-- fake Modal for login -->
<!-- background of modal -->
<div ng-click="hide()" class="psudoModalBackground darkBlueBkg" ng-show="called"></div>
<!-- foreground -->
<div class="psudoModalContainer whtBkg" ng-show="called">
    <div class="modelContent">
      <div class="welcome greenBkg">
        <h3 class="wht">Enter your company name and login information</h3>
      </div>
      <form ng-submit="newUser()">
        <div class="singleInputHolder">
            <h3 class="inputDescription darkBlue">Username</h3>
            <input class="basicInput bigInput darkBlueBkg wht" type="text" 
            name="username" ng-model="loginUser.firstname">
        </div>
        <div class="singleInputHolder">
            <h3 class="inputDescription darkBlue">Password</h3>
            <input class="basicInput bigInput darkBlueBkg wht" type="password" 
            name="Password" ng-model="loginUser.password">
        </div>
        <div class="singleInputHolder">
            <h3 class="inputDescription darkBlue">Company</h3>
            <input class="basicInput bigInput darkBlueBkg wht" type="text" 
            name="Company" ng-model="loginUser.employername">
        </div>
        <div class="singleInputHolder">
            <h3 class="inputDescription darkBlue">Email</h3>
            <input class="basicInput bigInput darkBlueBkg wht" type="text" 
            name="Email" ng-model="loginUser.email">
        </div>
      
          <div class="landingToolbar">
            <div ng-click="hide()"  ui-sref="employee" class="landingTool">
                <img class="barImage" src="./images/publish.svg" alt="save" />
                <h3 class=" barTxt green">Save</h3>
            </div>
            <div ng-click="hide()"  class="landingTool">
                <img class="barImage" src="./images/cancel.svg" alt="cancel" />
                <h3 class=" barTxt red">Cancel</h3>
            </div>
          </div>
      
          
        
      </form>
      
    </div>
</div>

