.bkgrd{
  height:100vh;
  width: 100vw;
}

.calendarHolder{
  height:400px;
  width:100vw;
  display: block;
  text-align: center;
  padding-top: 70px;

}

.calenderNav{
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.leftArrow{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 20px 10px 0;
  border-color: transparent #738A05 transparent transparent;
  margin-right: 30px;
}

.leftArrow:hover{
  border-color: transparent #042029 transparent transparent;
}

.rightArrow{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #738A05;
  margin-left: 30px;
}

.rightArrow:hover{
  border-color: transparent transparent transparent #042029;
}

/*calendar*/

.calendarFiller{
  height:240px;
  width:280px;
  margin:10px auto 30px;
}

.calendar{
  height:200px;
  width:280px;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.day{
  height:40px;
  width: 40px;
  text-align: center;
  padding-top: 10px;
  border: 1px solid white;
}

/*key*/
.keyHolder{
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.keyBox{
  height:20px;
  width: 20px;
}
