<div class="bkgrd">
  <div class="calendarHolder whtBkg">
    <!-- calendar nav -->
    <div class="calenderNav">
      <div ng-click="adjustMonth(-1)"  class="leftArrow"></div>
      <h2 class="darkBlue">{{titleMonth}}</h2>
      <div ng-click="adjustMonth(1)" class="rightArrow"></div>
    </div>
    <div class="dotwHolder">
      <h3 class="dotw darkGray">SU</h3>
      <h3 class="dotw darkBlue">M</h3>
      <h3 class="dotw darkBlue">TU</h3>
      <h3 class="dotw darkBlue">W</h3>
      <h3 class="dotw darkBlue">TH</h3>
      <h3 class="dotw darkBlue">F</h3>
      <h3 class="dotw darkGray">ST</h3>
    </div>
    <!-- calendar days -->
    <div class="calendarFiller">
    <div  class="calendar darkBlueBkg">
      <div ng-class="{greenBkg : day.work,  darkGray : day.notCurrentMonth}" ng-repeat="day in calenderView track by $index" class="day darkBlueBkg wht">
        <h2>{{day.day}}</h2>
      </div>
    </div>
    </div>
    <!-- calendar key -->
        <div class="keyHolder">
          <div class="keyBox greenBkg"></div>
          <h3 class="green">scheduled</h3>
          <div class="keyBox darkBlueBkg"></div>
          <h3 class="darkBlue">not scheduled</h3>
        </div>


  </div>





</div>
